---
layout: projects_all
title: Projects
---

<h1>Projects</h1>

<div class="row">
{% for prj in site.projects %}
  <div class="col-lg-4 col-md-4 col-sm-6">
    <a href="{{ prj['url'] }}" role="button">
      <div class="card mb-4" style="min-height:350px; height: 350px;">
        <div class="card-thumbnail" style="min-height: 150px; height: 150px; overflow-y: hidden;">
        {% if prj['thumbnail'] %}
          <img class="card-img-top" src="/assets/images/thumbnails/{{ prj['thumbnail'] }}" alt="{{ prj['title'] | markdownify }}">
        {% endif %}
        </div>
        <div class="card-body pt-0">
          <h5 class="card-title h5">{{ prj['title'] }}</h5>
          <p class="card-text">
          <p class="card-text text-dark">
            {{ prj['tagline'] }}
          </p>
          {% for tag in prj['tags'] %}
            <span class="badge badge-danger">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </a>
{% endfor %}
</div>