---
layout: projects_all
title: Projects
---

<div class="row">
{% for prj in site.projects %}
  <div class="col-lg-4 col-md-4 col-sm-6">
    <a href="{{ prj['url'] }}" role="button">
      <div class="card">
        {% if prj['thumbnail'] %}
          <img class="card-img-top" src="/assets/images/{{ prj['thumbnail'] }}" alt="{{ prj['title'] }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title h5">{{ prj['title'] }}</h5>
          <p class="card-text">
          {% for tag in prj['tags'] %}
            <span class="badge badge-danger">{{ tag }}</span>
          {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </a>
{% endfor %}
</div>