---
layout: page
title: Tags
---

<!--
=======================
The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
=======================
-->
{% assign rawtags = "" %}
{% for post in site.posts %}
  {% assign ttags = post.tags | join:'|' | append:'|' %}
  {% assign rawtags = rawtags | append:ttags %}
{% endfor %}
{% assign rawtags = rawtags | split:'|' | sort %}



<!--
=======================
The following part removes dulpicated tags and invalid tags like blank tag.
=======================
-->
{% assign tags = "" %}
{% for tag in rawtags %}
  {% if tag != "" %}
    {% if tags == "" %}
      {% assign tags = tag | split:'|' %}
    {% endif %}
    {% unless tags contains tag %}
      {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
    {% endunless %}
  {% endif %}
{% endfor %}



<!--
=======================
The purpose of this snippet is to list all the tags you have in your site.
=======================
-->
<section class="jumbotron text-center mb-0">
  <div class="container">
    <h1 class="jumbotron-heading">Archive</h1>
    <p class="lead text-muted"></p>
    <p class="lead">
      {% for tag in tags %}
        <a href="#{{ tag | slugify }}" class="post-tag">
          <span class="badge badge-primary">{{ tag }}</span>
        </a>
      {% endfor %}
    </p>
  </div>
</section>


<!--
=======================
The purpose of this snippet is to list all your posts posted with a certain tag.
=======================
-->
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
    {% for tag in tags %}
      <div class="col-6 mt-5">
        <ul class="list-group">
        <li class="list-group-item d-flex active">
          <h5 class="h5" id="{{ tag | slugify }}">{{ tag }}</h5>
        </li>
        {% for post in site.posts %}
           {% if post.tags contains tag %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="{{ post.url }}">{{ post.title }}</a>
              <span class="badge badge-secondary badge-pill"><small>{{ post.date | date_to_string }}</small></span>
            </li>
           {% endif %}
         {% endfor %}
        </ul>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
