<nav aria-label="footer social media links">
  <ul class="pagination justify-content-center">
  {% if site.links.github %}
    <li class="page-item px-2">
      <a target="_blank" title="Github" class="fab fa-github" href="{{ site.links.github }}"></a>
    </li>
  {% endif %}

  {% if site.links.twitter %}
    <li class="page-item px-2">
      <a target="_blank" title="Twitter" class="fab fa-twitter" href="{{ site.links.twitter }}"></a>
    </li>
  {% endif %}

  {% if site.links.linkedin %}
    <li class="page-item px-2">
      <a target="_blank" title="LinkedIn" class="fab fa-linkedin" href="{{ site.links.linkedin }}"></a>
    </li>
  {% endif %}

  {% if site.links.stackoverflow %}
    <li class="page-item px-2">
      <a target="_blank" title="Stackoverflow" class="fab fa-stack-overflow" href="{{ site.links.stackoverflow }}"></a>
    </li>
  {% endif %}

  {% if site.links.flickr %}
    <li class="page-item px-2">
      <a target="_blank" title="Flickr" class="fas fa-camera" href="{{ site.links.flickr }}"></a>
    </li>
  {% endif %}
  </ul>
</nav>