<nav id="topnav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fas fa-space-shuttle"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    {% for pl in site.data.navigation %}
      {% if pl.title != "Tags" %}      <!-- don't show tags on the top nav -->
        {% if pl.title == page.title %}
          <li class="nav-item active">
            <a class="nav-link" href="{{ pl.link | prepend: site.baseurl }}">{{ pl.title }} <span class="sr-only">(current)</span></a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ pl.link | prepend: site.baseurl }}">{{ pl.title }}</a>
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</nav>