// Body resets
//
// Update the foundational and global aspects of the page.


/** Variables **********************************************/
/*
  colour theme to use
  #333333 - grey
  #ff3f3d - matte red
  #fbfbfb - almost white
  #f2f4f6 - light grey
*/

$base-font-family: 'Sanchez', serif;
$base-line-height: 1.5em;
$horizontal-spacing-unit: 50px;
$vertical-spacing-unit: 40px;
$nav-height: 56px;

                                /* portfolio tinkering */
$img_spacing: 5px;
$img_height: 275px;
$caption_font_size: 12px;
$caption_color: #aaa;

                                /* COLORS  */
$red: #FF3636;
$orange: #F29105;
$blue: #2698BA;
$green: #11D68B;
$lime_green: #B7D12A;
$purple: #B509AC;


$grey-color-dark: #333;         /* footer */
$grey-color-light: #ddd;        /* navigation bar border */
$text-color: #666;              /* Set theme color *************************/
$theme-color: $red;

/** /variables **********************************************/

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-family: $base-font-family;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  color: #515151;
  background: #fefefe url('/assets/struckaxiom.png') repeat;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: #268bd2;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
