// Typography
//
// Headings, body text, lists, and other misc typographic elements.

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0rem;
  font-weight: bold;
  // line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  font-family: $font-family-base;
}

h1 {
  margin: 2rem 0;
  font-size: 2rem;
}

h2 {
  margin: 1.75rem 0;
  font-size: 1.5rem;
  color: darken($grey-color-light, 75%);
}

h3 {
  margin: 1.25rem 0;
  font-size: 1.25rem;
  color: darken($grey-color-light, 50%);
}

h4,
h5,
h6 {
  margin: 1rem 0;
  font-size: 1rem;
  color: darken($grey-color-light, 25%);
}

p {
  margin: 1rem 0;
}

strong {
  color: #303030;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

time { color: $grey-color-light; }

hr {
  position: relative;
  border: 0;
  border-top: 2px solid $grey-color-light;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

iframe { border: none; width: 100%; }

img.carousel-img {
  width: 100%;
  max-width: 100%;
  height: auto;
}


a { color: $theme-primary; }
a:hover { color: darken($theme-primary, 20%); }


nav#topnav a {
  font-family: $font-family-base;
  font-weight: bold; 
}

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}