// Body resets
//
// Update the foundational and global aspects of the page.

/** Variables **********************************************/
/*
  colour theme to use
  #333333 - grey
  #ff3f3d - matte red
  #fbfbfb - almost white
  #f2f4f6 - light grey
*/

/* Bootstrap variables */
$theme-primary:    #0B9EF9;
$theme-secondary:  #DA3F2F;
$theme-success:    #83C489;
$theme-danger:     #DA3F2F;
$theme-info:       #1AC1D3;  
$theme-warning:    #F2C36D;
$theme-light:      #F1F1F1;
$theme-dark:       #363636;

// $font-family-base: 'Roboto', "Helvetica Neue", Arial, "Noto Sans", serif;
$font-family-base: 'Libre Franklin', sans-serif;
$font-family-sans-serif: 'Rubik', sans-serif;
$font-family-monospace: Roboto-mono, Monaco, Consolas, monospace;


$grey-color-dark: #333333;
$grey-color-light: #CCCCCC;
$grey-color-very-light: #F6F6F6;
/* (END) Bootstrap variables */

.container    { font-family: $font-family-sans-serif; }
.font-primary { font-family: $font-family-base; }

