// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

.content {
  padding-top: 5rem;
}

footer {
  background: $grey-color-dark;
}