---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Becoming';
const description = 'kaizer1v\'s site';
const permalink = Astro.site.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div class="home-container">
    <div class="home-copy">
      <h1>Hi, I am Vivek 👋</h1>
      <p>Engineering + Design</p>
      <p>I am a maker at heart, I like to make things. I work with information, data and graphics and interaction to often communicate for clarity, play or making it usable.</p>

      <p>Past</p>
      <ul>
        <li><span>Currently, </span>UX Designer at SAP</li>
        <li><span>2021 - 2022</span>Leading DataKind & covid19bharat.org</li>
        <li><span>2016 - 2018</span>Gramener - data visualisation for the ministry</li>
        <li><span>2012 - 2016</span>Symantec & Informatica - B2B data products UX</li>
      </ul>
      <p>You can know more about work history on <a target="_blank" href="https://linkedin.com/in/vivek-shrinivasan">linkedin</a></p>
    </div>

    <div class="hero-image-container">
      <a href="/work"><h1>Work -></h1></a>
      <a href="/reflections"><h1>Reflections -></h1></a>
    </div>
  </div>
</BaseLayout>

<style>
  .home-container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2em 0;
    min-height: 400px;
  }

  .home-copy {
    flex: 1;
    padding: 0 1em;
  }
    .home-copy ul { list-style-type: none; }
    .home-copy span { color: #707070; padding: 0 0.3rem; font-size: 0.8rem; }

  .home-copy h1 {
    font-weight: 700;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  .home-copy p {
    font-size: 1.4em;
  }

  .hero-image-container {
    margin: 0 1em;
    text-align: left;
  }

  .hero-image-container picture {
    display: block;
    min-height: 250px;
  }

  .caption {
    font-size: .8em;
    font-style: italic;
    text-align: left;
  }

  .hero-image {
    width: 100%;
    max-width: 550px;
    margin-bottom: 1em;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 1.2em;
    }

    .hero-image {
      max-width: 400px;
    }
  }

  @media (max-width: 800px) {
    .home-container {
      flex-direction: column;
    }

    .home-copy {
      flex: 0;
      padding-bottom: 2em;
      text-align: center;
    }
  }
</style>
