<div>
  <img src="/assets/vivek_bw.png" alt="Headshot of Vivek S">
  <p>
    Hi, I'm <strong>Vivek</strong>. I'm a UX designer based in Bangalore, India.
    You can follow me on <a href="https://www.twitter.com/kaizer1v" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.github.com/kaizer1v" target="_blank">GitHub</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
