---
const { title } = Astro.props;  // props that this component will accept from invocation
const another = 'taesr';
---

<p>Currently, I work as a UX designer at SAP Labs, Bangalore</p>
<p>Previously,</p>
<ul>
  <li>Led the DataKind Bengaluru chapter & top contributor for <a target="_blank" href="https://covid19bharat.org">covid19bharat.org</a>. Some of the key projects I helped lead were</li>
    <ul>
      <li>Partnership with development data lab on <a target="_blank" href="https://medium.com/datakind-bangalore/using-data-to-learn-about-pre-independence-india-167f61407c2">analysing pre-independence India</a></li>
      <li>Partnership with Pratham Education Foundation to build an <a target="_blank" href="https://medium.com/datakind-bangalore/using-nlp-and-graphs-for-educational-video-recommendations-f8b5d4dae946">NLP model for video recommendation</a></li>
      <li>Worked with Internet Freedom Foundation to design and build <a target="_blank" href="https://panoptic.in/">facial recognition tracker</a></li>
      <li>Apart from projects above I managed operations, volunteer management and project management for the Bengaluru chapter</li>
    </ul>
  <li>Worked at Gramener on buildling data visualisation and data stories</li>
  <li>and at Symantec (2012 - 2014) & Informatica (2014 - 2016) designing B2B data and security products</li>
</ul>
<p>You can know more about work history on <a target="_blank" href="https://linkedin.com/in/vivek-shrinivasan">linkedin</a></p>


<!-- add the <style> tag scoped for this component only -->
<style>
</style>