---
const { title } = Astro.props;  // props that this component will accept from invocation
---
<p>Hi, I am Vivek, I am a design driven engineer. Welcome to 'Becoming!'</p>
<p>I work as a UX designer at SAP Labs, Bangalore. I am design driven engineer.</p>
<p>Previously,</p>
<ul>
  <li>volunteeraly led the DataKind Bengaluru chapter & helped build <a target="_blank" href="https://covid19bharat.org">covid19bharat.org</a>.</li>
    <!-- <ul>
      <li>Partnership with development data lab on <a target="_blank" href="https://medium.com/datakind-bangalore/using-data-to-learn-about-pre-independence-india-167f61407c2">analysing pre-independence India</a></li>
      <li>Partnership with Pratham Education Foundation to build an <a target="_blank" href="https://medium.com/datakind-bangalore/using-nlp-and-graphs-for-educational-video-recommendations-f8b5d4dae946">NLP model for video recommendation</a></li>
      <li>Worked with Internet Freedom Foundation to design and build <a target="_blank" href="https://panoptic.in/about">facial recognition tracker</a></li>
      <li>Apart from projects above I managed operations, volunteer management and project management for the Bengaluru chapter</li>
    </ul> -->
  <li>Before that, I worked at <a target="_blank" href="https://gramener.com">Gramener</a> on buildling data visualisation and data stories.</li>
  <li>and earlier at Symantec (2012 - 2014) & Informatica (2014 - 2016) designing B2B data and security products</li>
</ul>
<p>You can know more about work history on <a target="_blank" href="https://linkedin.com/in/vivek-shrinivasan">linkedin</a></p>


<!-- add the <style> tag scoped for this component only -->
<style>
  li {
    border-left: 3px solid #548e9b;
    padding-left: 2rem;
    list-style: none;
  }
</style>