<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/landing.css">
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous"
  />
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <title>Vivek Shrinivasan - Designer + Engineer</title>
</head>

<body>
  <div class="main-container">
    <div class="image-container-mobile">
      <div class="image-mobile"><img src="{{ site.baseurl }}/assets/images/me.jpg"></div>
      <div class="image-bg-mobile"></div>
    </div>
    <div class="content-container">
      <div class="header">
        Vivek Shrinivasan
      </div>
      <div class="subheader ">
        Designer + Engineer
      </div>
      <div class="content">
        <p>I believe design is the best way to solve problems. I also dabble in Javascript, Python while designing neat interfaces.</p>
        <p>Currently looking for opportunities to collaborate. Please get in touch.</p>
        <p>You can checkout my <a target="_blank" href="/projects">portfolio</a> or <a href="https://github.com/kaizer1v" target="_blank" title="Github"><i class="fab fa-github"></i></a> profile and <a target="_blank" title="Blog" href="/blog">blog here</a></p>
        <p>Previously at <a href="https://gramener.com/" target="_blank">Gramener</a> building data visualisations.
          Also worked at <a href="https://www.symantec.com/" target="_blank">Symantec</a> & <a href="https://www.informatica.com/" target="_blank">Informatica</a> within the UX team designing and prototyping interfaces for enterprise data applications</p>
        <p>I also love <a href="https://www.flickr.com/photos/10583297@N03/" title="Flickr" target="_blank"><i class="fas fa-camera"></i></a>. I use a Nikon D3200.</p>
        <p>
        </p>
        <p>You can connect with me on <a href="https://twitter.com/kaizer1v" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a> or reach me at <a href="mailto:kaizer1v@gmail.com?subject=From kaizer1v.github.io&body=Hello there," title="Google Mail"><i class="fas fa-envelope"></i></a></p>
      </div>
    </div>
    <div class="image-container">
      <div class="image"><img src="{{ site.baseurl }}/assets/images/me.jpg"></div>
      <div class="image-bg"></div>
    </div>
  </div>
</body>
</html>