<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}

  <div class="container my-5" role="main">
    <div class="row py-5">
      <!-- Loop of all the posts -->
      <section class="col-lg-7 col-md-7 col-sm-12 col-12">
      {% for post in site.posts %}
        <h2 class="font-primary">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h2>
        <hr />
        <!-- <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time> -->
      {% endfor %}
      </section>

      <!--
      <section class="col-lg-5 col-md-5 col-sm-12 col-12 text-right sticky-top h-25 mt-5 pt-5">
        <h2>Tags</h2>
        {% assign rawtags = "" %}
        {% for post in site.posts %}
          {% assign ttags = post.tags | join:'|' | append:'|' %}
          {% assign rawtags = rawtags | append:ttags %}
        {% endfor %}
        {% assign rawtags = rawtags | split:'|' | sort %}
        {% assign tags = "" %}
        {% for tag in rawtags %}
          {% if tag != "" %}
            {% if tags == "" %}
              {% assign tags = tag | split:'|' %}
            {% endif %}
            {% unless tags contains tag %}
              {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
            {% endunless %}
          {% endif %}
        {% endfor %}
        <p class="lead">
        {% for tag in tags %}
          <a href="/tag/#{{ tag | slugify }}" class="post-tag">
            <span class="badge badge-secondary">{{ tag }}</span>
          </a>
        {% endfor %}
        </p>
      </section>
    -->
    </div><!-- /.row -->

    <div class="row justify-content-center">
      {% include pagination.html %}
    </div>
  </div><!-- /.content /.container -->

  {% include scripts.html %}
</body>
</html>
