<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}

  <div class="container my-5" role="main">
    <div class="row">
      <!-- Loop of all the posts -->
      <section class="col-7">
      {% for post in paginator.posts %}
        <h3 class="h3 mt-2 font-primary">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
        <hr />
        <!-- <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time> -->
      {% endfor %}
      </section>

    </div><!-- /.row -->

    <div class="row justify-content-center mt-5">
      {% include pagination.html %}
    </div>
  </div><!-- /.content /.container -->

  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
