<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}

  <div class="container my-5 py-5" role="main">
    <div class="row">
      <!-- Loop of all the posts -->
      <section class="col-7">
      {% for post in paginator.posts %}
        <h3 class="h3 mt-2 font-primary">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
        <hr />
        <!-- <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time> -->
      {% endfor %}
      </section>

      <section class="col-5 text-right sticky-top h-25 mt-5 pt-5">
        <h2 class="mt-3">Tags</h2>
        {% assign rawtags = "" %}
        {% for post in site.posts %}
          {% assign ttags = post.tags | join:'|' | append:'|' %}
          {% assign rawtags = rawtags | append:ttags %}
        {% endfor %}
        {% assign rawtags = rawtags | split:'|' | sort %}
        {% assign tags = "" %}
        {% for tag in rawtags %}
          {% if tag != "" %}
            {% if tags == "" %}
              {% assign tags = tag | split:'|' %}
            {% endif %}
            {% unless tags contains tag %}
              {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
            {% endunless %}
          {% endif %}
        {% endfor %}
        <p class="lead mt-3">
          {% for tag in tags %}
            <a href="/tag/#{{ tag | slugify }}" class="post-tag">
              <span class="badge badge-secondary">{{ tag }}</span>
            </a>
          {% endfor %}
        </p>
      </section>
    </div><!-- /.row -->

    <div class="row justify-content-center mt-5">
      {% include pagination.html %}
    </div>
  </div><!-- /.content /.container -->

  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
