<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}

  <div class="container mt-5 pt-5 mb-4" role="main">
    <div class="row display-4"><div class="col">Vivek Shrinivasan</div></div>
    <div class="row h4 mb-4"><div class="col">{{ site.tagline }}</div></div>
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12 col-12">
        <!-- <p>I <i class="fas fa-heart"></i> building products</p> -->
        <p>Currently <b>looking for opportunities</b> in product management at mid-size orgs & startups. Please get in touch via <a href="https://twitter.com/kaizer1v" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a> or reach me at <a href="mailto:kaizer1v@gmail.com?subject=From kaizer1v.github.io&body=Hello there," title="Google Mail"><i class="fas fa-envelope"></i></a></p>
        <p>You can checkout my <a href="/projects">projects</a> or my <a href="https://github.com/kaizer1v" target="_blank" title="Github"><i class="fab fa-github"></i></a> github profile. I also <a title="Blog" href="/blog">write about</a> products among other things</p>
        
        <p><b>Previously</b> at <a href="https://gramener.com/" target="_blank">Gramener</a> making sense of data. Really insightful things about what data can help understand.
          Also worked at <a href="https://www.symantec.com/" target="_blank">Symantec</a> & <a href="https://www.informatica.com/" target="_blank">Informatica</a> designing and for enterprise data applications</p>
        <!-- <p>I also love <a href="https://www.flickr.com/photos/10583297@N03/" title="Flickr" target="_blank"><i class="fas fa-camera"></i></a>. I use a Nikon D3200.</p> -->
        
        <p>You can <b>download my resume</b> <a href="{{ site.links.resume }}" target="_blank">here</a></p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-12 mx-auto">
        <img src="{{ site.baseurl }}/assets/images/me.jpg" alt="Vivek Shrinivasan" class="img-thumbnail rounded float-right text-right" />
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->

  {% include footer-social.html %}
  {% include scripts.html %}
</body>
</html>
