<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  {% include nav.html %}

  <div class="container mt-5 pt-5 mb-4" role="main">
    <div class="row display-4"><div class="col">{{ site.title }}</div></div>
    <div class="row h4 mb-4"><div class="col">{{ site.tagline }}</div></div>
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-12 col-12">
        <!-- <p>I <i class="fas fa-heart"></i> building products</p> -->
        <p>I essentially like building things. The fun and learning is in figuring things out myself.</p>

        <p>You can checkout my <a href="/projects">projects</a> or my <a href="https://github.com/kaizer1v" target="_blank" title="Github"><i class="fab fa-github"></i></a> github profile. I also <a title="Blog" href="/blog">write about</a> products among other things</p>

        <p>I currently work at SAP as a UX designer & also chapter leader for <a target="_blank" href="https://www.datakind.org/chapters/datakind-blr">DataKind Bangalore</a> chapter during my free time.</p>
        <p>Previously, did a small stint as a UX Fellow at <a target="_blank" href="https://civicdatalab.in">CivicDataLab</a> & before that at <a href="https://gramener.com/" target="_blank">Gramener</a> making sense of data. Really insightful things about what data can help understand.
          Also worked at <a href="https://www.symantec.com/" target="_blank">Symantec</a> & <a href="https://www.informatica.com/" target="_blank">Informatica</a> designing and for enterprise data applications</p>
        <!-- <p>I also love <a href="https://www.flickr.com/photos/10583297@N03/" title="Flickr" target="_blank"><i class="fas fa-camera"></i></a>. I use a Nikon D3200.</p> -->

      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-12 mx-auto">
        <img src="{{ site.baseurl }}/assets/images/me.jpg" alt="Vivek Shrinivasan" class="img-thumbnail rounded float-right text-right" />
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->

  {% include footer-social.html %}
  {% include scripts.html %}
</body>
</html>
