<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% include scripts.html %}

  <body>
    {% include nav.html %}
    
    <div class="container py-5 my-5">
      <section>
        <h1 class="post-title">
          <a title="Click to go back" href="{{ site.baseurl }}/blog">↤ / </a>
          {{ page.title }}
        </h1>
        <p><time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time></p>

        {% if page.tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tag#{{ tag | slugify }}" class="post-tag">
              <span class="badge badge-secondary">{{ tag }}</span>
            </a>
          {% endfor %}
        {% endif %}
      </section>
      
      <hr />

      {{ content }}

      <h1><a title="Click to go back" href="{{ site.baseurl }}/blog">↤ / </a></h1>
      
      <hr />

      <h3>You may also like reading</h3>
      <div class="d-block">
        {% if page.previous.url %}
          <a class="prev float-left" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
        {% endif %}
        {% if page.next.url %}
          <a class="next float-right" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
        {% endif %}
      </div>

      <section>
        {% if page.comments %}
          {% include comments.html %}
        {% endif %}
      </section>
    </div>

    <script id="dsq-count-scr" src="//kaizer1v-github-io.disqus.com/count.js" async></script>
  </body>
</html>