<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% include scripts.html %}

  <body>
    {% include nav.html %}

    <div class="container mt-5">
      <main>
        <article>
          <h1><a href="{{ site.baseurl }}/" title="Click to go back to main page">{{ page.title }}</a></h1>
          <!-- <i>{{ post.excerpt }}</i> -->
          <p><time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time></p>

          {% if page.tags %}
            {% for tag in page.tags %}
              <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
          {% endif %}

          {{ content }}
        </article>

        {% if page.comments %}
          {% include comments.html %}
        {% endif %}
      </main>
    </div>
    
    {% include footer.html %}
  </body>
</html>