<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  {% include scripts.html %}

  <body>
    {% include nav.html %}
    
    <div class="container my-5">
      <section>
        <h1><a href="{{ site.baseurl }}/" title="Click to go back to main page">{{ page.title }}</a></h1>
        <p><time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time></p>

        {% if page.tags %}
          {% for tag in page.tags %}
            <a href="{{ site.baseurl }}{{ site.pages_list.Tags }}#{{ tag | slugify }}" class="post-tag">
              <span class="badge badge-secondary">{{ tag }}</span>
            </a>
          {% endfor %}
        {% endif %}
      </section>
      
      <hr />

      {{ content }}

      <hr />

      <section>
        {% if page.comments %}
          {% include comments.html %}
        {% endif %}
      </section>
    </div>
    
    {% include footer.html %}

    <script id="dsq-count-scr" src="//kaizer1v-github-io.disqus.com/count.js" async></script>
  </body>
</html>