---
layout: projects_all
---

<!-- 
Sections of a project that you need to showcase

## Design project tempalte

  1. Problem Statement / Insight / Storyboard
  2. The approach
  3. Solution
    - information archicture / site map / structure
    - wireframe
    - userflows
  4. Interactive prototype link / video / pictures
  5. Learnings / Challenges
  6. Tools & Technology Used

-->

<!-- <figure class="row justify-content-center figure text-center">
  <img src="/assets/images/{{ page.banner_image }}" class="figure-img img-fluid rounded" alt="permissions">
</figure>
 -->

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <h3>Challenge</h3>
    <p>{{ page.challenge }}</p>
    
    <h3>Role</h3>
    <p>{{ page.role }}</p>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
    <h3>Impact</h3>
    <p>{{ page.impact }}</p>
    
    <h3>Team</h3>
    <p>{{ page.team }}</p>
  </div>
</div>

<p><i class="fas fa-link"></i> <a href="{{ page.link }}" target="_blank">Demo Link</a></p>

<p><i class="fas fa-tag"></i> {{ page.desc }}</p>

<hr />

<p>{{ page.content_body | markdownify }}</p>
