---
layout: page
---

<!-- 
Sections of a project that you need to showcase

## Design project tempalte

  1. Problem Statement / Insight / Storyboard
  2. The approach
  3. Solution
    - information archicture / site map / structure
    - wireframe
    - userflows
  4. Interactive prototype link / video / pictures
  5. Learnings / Challenges
  6. Tools & Technology Used

-->

<h1><a title="Click here to go back" href="{{ site.baseurl }}/projects">↤ / </a></h1>


{{ page.banner }}

<!-- <h1>{{ page.title }}</h1> -->

<!-- <p>{{ page.desc }}</p> -->

<p>{{ page.intro | markdownify }}</p>

<h1><a title="Click here to go back" href="{{ site.baseurl }}/projects">↤ / </a></h1>