---
layout: page
---
  
<div class="row">

  <section class="col-lg-3 col-md-3 col-sm-12 col-12 align-self-start sticky-top mt-5 pt-5">
    <ul id="left-nav-projects" class="nav flex-column">
    {% for prj in site.projects %}
      <li class="nav-item">
      {% if prj.title == page.title %}
        {% assign is_active = "active" %}
      {% else %}
        {% assign is_active = "" %}
      {% endif %}
        <a class="nav-link {{ is_active }}" href="{{ prj['url'] }}">{{ prj['title'] }}</a>
      </li>
    {% endfor %}
    </ul>
  </section>
  
  <section class="col-lg-9 col-md-9 col-sm-12 col-12 container">
    {{ content }}
  </section>

</div><!-- /.row -->
